@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Sixtyfour', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(60, 68, 66);
  }
  h1{
    color: aqua;
    padding: 40px;
  }
  .board {
    display: inline-block;
  }
  .row {
    clear: both;
    background-color: aqua;
  }
  .cell {
    width: 150px;
    height: 150px;
    border: 5px solid black;
    font-size: 1rem;
    line-height: 100px;
    float: left;
    cursor: pointer;
    background-color: rgb(39, 201, 201);
    font-size: 50px;
  }
  .cell:hover{
    background-color: aquamarine;
  }
  button{
    background-color: transparent;
    border:none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  button:hover{
    background-color: aqua;
  }
  img{
    width:100px;
    height:100px;

  }